/* 左側選單 CSS 設定 */
/* 銷售據點 */

.footer {
  padding-top: 0px;
  padding-bottom: 10px;
}

span {
  font-family: 'Quicksand', sans-serif;
}

.channelsitem li {
  background-color: #630603;
  /* background-color: #c47875; */
}

.channelsitem label {
  color: #af9b7c;
}


.nowitem {
  border: none;
  background-color: #8f8f8f98;
}

.nowitem p {
  font-size: 32px;
  padding-top: 4px;
  color: #fade92;
  text-align: center;
  /* padding-left: 5px; */
}


.itemcontent {
  position: relative;
  border: none;
  background-color: #8cac9dea;
  height: 654px;
  /* padding-bottom: 50px; */
}

.itemcontent div {
  float: left;
}

.toppart {
  position:relative;
  width: 1280px;
  height: 120px;
  /* border: 1px solid pink; */
}

.bottompart {
  position:static;
width: 1280px;
height:510px;
/* border: 1px solid purple; */
border-bottom: none;
overflow-y: auto;
overflow-x: hidden;
margin-top:20px;
}

/* .c1 {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 28px;
  color: #adb44b;
} */

.p1 {
  font-size: 22px;
  color: #591ca0;
  position: relative;
  margin-left:40px;
  margin-top:20px;
  animation: TestMove 5s infinite alternate;
  -moz-animation: TestMove 5s infinite alternate;
  /*FireFox*/
  -webkit-animation: TestMove 5s infinite alternate;
  /*Chrome, Safari*/
}

@keyframes TestMove {
  from {
    left: 0%;
  }

  to {
    left: 35%;
  }
}

@-moz-keyframes TestMove {
  from {
    left: 0%;
  }

  to {
    left:35%;
  }
}

@-webkit-keyframes TestMove {
  from {
    left: 0%;
  }

  to {
    left: 35%;
  }
}


.areas {
  position:fixed;
  width: 1258px;
  height:50px;
  border-bottom: 2px hidden #eed6a896;
  margin-top:10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.areas ul li {
  float:left;
  padding: 5px;
}

.areas ul li label {
  font-size: 28px;
  color: #755e1f;
  margin-left: 35px;
}

.areas ul li a {
  font-size: 28px;
  /* color: #4abd08; */
  color: #9e4319;
  text-decoration: none;
  margin-right: 15px;
  padding-bottom:0px;
  border-bottom: 2px solid #0d7a81;
}

.areas ul li a:hover {
  color:#0b5b61;
}





.p2 {
  font-size: 26px;
  color:#0e65c9;
  margin-top:15px;
  margin-bottom:15px;
  margin-left: 175px;
}


.name {
  width: 280px;
  /* height: 145px; */
  /* border: 1px solid #fff; */
  margin-left: 260px;
  margin-right: 10px;
  
}

.address {
  width: 400px;
  /* height: 155px; */
  /* border: 1px solid #fff; */
  margin-left: 10px;
  margin-right: 10px;
}

.phone {
  width: 200px;
  /* height: 170px; */
  /* border: 1px solid #fff; */
  margin-left: 10px;
  margin-right: 50px;
  margin-bottom: 45px;
}

.name p, .address p, .phone p {
  font-size:20px;
  color:#135f40;
  line-height: 30px;
}

/* 
.c2 {
  margin-top: 340px;
  margin-left: 30px;
  font-size: 28px;
  color: #adb44b;

} */


.name2 {
  width: 280px;
  /* height: 145px; */
  /* border: 1px solid #fff; */
  margin-left: 260px;
  margin-right: 10px;
}

.address2 {
  width: 400px;
  /* height: 155px; */
  /* border: 1px solid #fff; */
  margin-left: 10px;
  margin-right: 10px;
}

.phone2 {
  width: 200px;
  /* height: 170px; */
  /* border: 1px solid #fff; */
  margin-left: 10px;
  margin-right: 50px;
  margin-bottom: 45px;
}

.name2 p, .address2 p, .phone2 p {
  font-size:20px;
  color:#8a3044;
  line-height: 30px;
}

span {
  font-family: 'Quicksand', sans-serif;
  /* color:black; */
}

