
@media screen and (max-width: 575px)
{



body {
    background-image: none;
    background-color: #463333;
}

.wrap {
    width:375px;
}


.header p {
    font-size: 4rem;
    margin-left: 1rem;
    margin-top: 2rem;
}

.mobileheaderdesc {
    visibility: visible;
    float:left;
    width: 40rem;
    font-size: 2rem;
    text-align: justify;
    padding-left:1rem;
    padding-right:1rem;
    padding-top:1rem;
    color: lightyellow;
    line-height: 3rem;
}

.header ul {
    margin:0;
    padding:0;

}

.email {
    visibility: hidden;
}

.facebook {
    position:absolute;
    margin-left:-22rem;
    margin-top:56rem;
}

.fbmessenger {
    position:absolute;
    margin-top:56rem;
    margin-left:-4rem;
}

.facebook a {
    text-decoration: underline;
}

.fbmessenger a {
    text-decoration: underline;
}

.youtube {
    visibility:hidden;
}

.slideshow {
    width:100%;
    height:0;
}

.leftshow {
    width:100%;
    height: 25rem;
}

.rightshow {
    visibility: hidden;
}

.content ul li {
    width:45%;
    height:5rem;
}

.content .menu_brand {
    width:46%;
    height:5rem;
}

.content .menu_saleschannel {
    width: 45%;
    height: 5rem;
}

.content .menu_recipe {
    width:46%;
}

li.menu_news {
    position:absolute;
    top:81rem;
    
}

li.menu_news label {
    position:absolute;
    top:-2rem;
    left:4rem;
    font-size:3rem;
    letter-spacing: 0;
    padding:0;
    margin:0;
}

li.menu_about {
    position:absolute;
    top:81rem;
    left:21rem;
}

li.menu_about label {
    position:absolute;
    top:-2rem;
    left:4rem;
    font-size:3rem;
    letter-spacing: 0;
    padding:0;
    margin:0;
}

li.menu_brand {
    position:absolute;
    top:88rem;
}

li.menu_brand label {
    position:absolute;
    top:-2rem;
    left:4rem;
    font-size:3rem;
    letter-spacing: 0;
    padding:0;
    margin:0;
}

li.menu_products {
    position:absolute;
    top:88rem;
    left:21rem;
}

li.menu_products label {
    position:absolute;
    top:-2rem;
    left:4rem;
    font-size:3rem;
    letter-spacing: 0;
    padding:0;
    margin:0;
}

li.menu_recipe {
    position:absolute;
    top:95rem;
}

li.menu_recipe label {
    position:absolute;
    top:-2rem;
    left:4rem;
    font-size:3rem;
    letter-spacing: 0;
    padding:0;
    margin:0;
}

li.menu_saleschannel {
    position:absolute;
    top:95rem;
    left:21rem;
}

li.menu_saleschannel label {
    position:absolute;
    top:-2rem;
    left:4rem;
    font-size:3rem;
    letter-spacing: 0;
    padding:0;
    margin:0;
}


.footer {
    position:absolute;
    top:113rem;
    height:11rem;
    padding:0;
}

.company {
    width:42rem;
    margin:0;
    padding:0;
}

.company p {
    font-size:1rem;
    /* margin:0;
    padding:0; */
}

.companyinfo {
    width:42rem;

}


.companyinfo p {
    font-size:1rem;

} 


}
