/* 左側選單 CSS 設定 */
/* 所有產品 */

.footer {
  padding-top: 0px;
  padding-bottom: 10px;
}

.productsitem li {
  background-color: #630603;
  /* background-color: #c47875; */
}

.productsitem label {
  color: #af9b7c;
}

.nowitem {
  border: none;
  background-color: #8f8f8f98;
}

.nowitem p {
  font-size: 32px;
  color: #fade92;
  padding-top: 4px;
  padding-left: 545px;
  /* text-align: center; */
}


.itemcontent {
  border: none;
  background-color: #8cac9dea;
}



.brandlist {
  margin-top: 25px;
}

.brandlist li {
  float: left;
  width: 360px;
  /* border: 1px solid green; */
}

.itemcontent ul .b3 {
  width: 510px;
}

.brandlist li label {
  text-decoration: none;
  font-size: 28px;
}

/* .brandlist li a {
  text-decoration: none;
  font-size: 28px;
} */

/* .brandlist li a label:hover {
  color: #04af76;
  cursor: pointer;
} */

/* .brandlist li a label {
  color: #da3939;
} */

.brandlist li label {
  color: #7e2e2e;
}

.b1 label {
  padding-left: 50px;
}

.b2 label {
  padding-left: 170px;
}

.b3 label {
  padding-left: 215px;
}

.divider1 {
  margin-top: 10px;
  margin-bottom: -10px;
}

.productlist div {
  float: left;
}

.productlist div ul li {
  padding-top: 20px;
}

.list1 {
  width: 400px;
  /* height: 60px; */
  /* border: 1px solid yellowgreen; */
  margin-left: 50px;
}


.list1 a {
  color: #5d2694;
  font-size: 20px;
  text-decoration: none;
}

.list1 a:hover {
  color: #184f86;
  font-size: 22px;
}

.list2 {
  width: 345px;
  /* height: 60px; */
  /* border: 1px solid yellowgreen; */
  margin-left: 85px;
}

.list2 a {
  color: #291f0e;
  font-size: 20px;
  text-decoration: none;
}

.list2 a:hover {
  color: #226129;
  font-size: 22px;
}


.list3 {
  width: 290px;
  /* height: 60px; */
  /* border: 1px solid yellowgreen; */
  margin-left: 65px;
}

.list3 a {
  color: #88430b;
  font-size: 20px;
  text-decoration: none;
}

.list3 a:hover {
  color: #07688f;
  font-size: 22px;
}

.emptyspace {
  height: 570px;
}

.divider2 {
  margin-top: 20px;
}

.product1 {
  position: relative;
  height: 648px;
  border-top: 3px solid #305030;
  border-bottom: 3px solid #305030;
}


.product2 {
  position: relative;
  height: 648px;
  border-top: 3px solid #305030;
  border-bottom: 3px solid #305030;
}

.product3 {
  position: relative;
  height: 648px;
  border-top: 3px solid #305030;
  border-bottom: 3px solid #305030;
}

.product4 {
  position: relative;
  height: 648px;
  border-top: 3px solid #305030;
  border-bottom: 3px solid #305030;
}

.product5 {
  position: relative;
  height: 648px;
  border-top: 3px solid #305030;
  border-bottom: 3px solid #305030;
}

.product6 {
  position: relative;
  height: 648px;
  border-top: 3px solid #305030;
  border-bottom: 3px solid #305030;
}

.product7 {
  position: relative;
  height: 648px;
  border-top: 3px solid #305030;
  border-bottom: 3px solid #305030;
}

.product8 {
  position: relative;
  height: 648px;
  border-top: 3px solid #305030;
  border-bottom: 3px solid #305030;
}

.product9 {
  position: relative;
  height: 648px;
  border-top: 3px solid #305030;
  border-bottom: 3px solid #305030;
  margin-bottom: 120px;
}


.product1 label {
  display: block;
  color: #466107;
  font-size: 24px;
  margin-top: 30px;
  margin-left: 30px;
}

.product2 label {
  display: block;
  color: #466107;
  font-size: 24px;
  margin-top: 30px;
  margin-left: 30px;
}

.product3 label {
  display: block;
  color: #466107;
  font-size: 24px;
  margin-top: 30px;
  margin-left: 30px;
}

.product4 label {
  display: block;
  color: #466107;
  font-size: 24px;
  margin-top: 30px;
  margin-left: 30px;
}

.product5 label {
  display: block;
  color: #466107;
  font-size: 24px;
  margin-top: 30px;
  margin-left: 30px;
}

.product6 label {
  display: block;
  color: #466107;
  font-size: 24px;
  margin-top: 30px;
  margin-left: 30px;
}

.product7 label {
  display: block;
  color: #466107;
  font-size: 24px;
  margin-top: 30px;
  margin-left: 30px;
}

.product8 label {
  display: block;
  color: #466107;
  font-size: 24px;
  margin-top: 30px;
  margin-left: 30px;
}

.product9 label {
  display: block;
  color: #466107;
  font-size: 24px;
  margin-top: 30px;
  margin-left: 30px;
}


.product1 img {
  width: 200px;
  height: 180px;
  position: absolute;
  top: 120px;
  left: 20px;
  /* border: 1px solid #fff; */
}

.product2 img {
  width: 200px;
  height: 180px;
  position: absolute;
  top: 120px;
  left: 20px;
  /* border: 1px solid #fff; */
}

.product3 img {
  width: 200px;
  height: 180px;
  position: absolute;
  top: 120px;
  left: 20px;
  /* border: 1px solid #fff; */
}

.product4 img {
  width: 200px;
  height: 180px;
  position: absolute;
  top: 120px;
  left: 20px;
  /* border: 1px solid #fff; */
}

.product5 img {
  width: 200px;
  height: 180px;
  position: absolute;
  top: 120px;
  left: 20px;
  /* border: 1px solid #fff; */
}

.product6 img {
  width: 200px;
  height: 180px;
  position: absolute;
  top: 120px;
  left: 20px;
  /* border: 1px solid #fff; */
}

.product7 img {
  width: 200px;
  height: 180px;
  position: absolute;
  top: 120px;
  left: 20px;
  /* border: 1px solid #fff; */
}

.product8 img {
  width: 200px;
  height: 180px;
  position: absolute;
  top: 120px;
  left: 20px;
  /* border: 1px solid #fff; */
}

.product9 img {
  width: 350px;
  height: 400px;
  position: absolute;
  top: 120px;
  left: 20px;
  /* border: 1px solid #fff; */
}


span {
  font-family: 'Quicksand', sans-serif;
}

.hide {
  color: #ffffff00;
}

.GoFunction {
  visibility: hidden;
  bottom:0;
  left:20px;
}

.product1 a {
  position: absolute;
  bottom: 50px;
  right: 70px;
  width: 255px;
  /* height:40px; */
  border: 1px solid #dadd0a;
  color: #dadd0a;
  text-decoration: none;
  font-size: 28px;
  padding: 5px;
  animation-name: shine;
  /* animation-delay: 5s; */
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}

.product2 a {
  position: absolute;
  bottom: 50px;
  right: 70px;
  width: 255px;
  /* height:40px; */
  border: 1px solid #dadd0a;
  color: #dadd0a;
  text-decoration: none;
  font-size: 28px;
  padding: 5px;
  animation-name: shine;
  /* animation-delay: 5s; */
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}


.product3 a {
  position: absolute;
  bottom: 50px;
  right: 70px;
  width: 255px;
  /* height:40px; */
  border: 1px solid #dadd0a;
  color: #dadd0a;
  text-decoration: none;
  font-size: 28px;
  padding: 5px;
  animation-name: shine;
  /* animation-delay: 5s; */
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}


.product4 a {
  position: absolute;
  bottom: 50px;
  right: 70px;
  width: 255px;
  /* height:40px; */
  border: 1px solid #dadd0a;
  color: #dadd0a;
  text-decoration: none;
  font-size: 28px;
  padding: 5px;
  animation-name: shine;
  /* animation-delay: 5s; */
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}


.product5 a {
  position: absolute;
  bottom: 50px;
  right: 70px;
  width: 255px;
  /* height:40px; */
  border: 1px solid #dadd0a;
  color: #dadd0a;
  text-decoration: none;
  font-size: 28px;
  padding: 5px;
  animation-name: shine;
  /* animation-delay: 5s; */
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}


.product6 a {
  position: absolute;
  bottom: 50px;
  right: 70px;
  width: 255px;
  /* height:40px; */
  border: 1px solid #dadd0a;
  color: #dadd0a;
  text-decoration: none;
  font-size: 28px;
  padding: 5px;
  animation-name: shine;
  /* animation-delay: 5s; */
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}


.product7 a {
  position: absolute;
  bottom: 50px;
  right: 70px;
  width: 255px;
  /* height:40px; */
  border: 1px solid #dadd0a;
  color: #dadd0a;
  text-decoration: none;
  font-size: 28px;
  padding: 5px;
  animation-name: shine;
  /* animation-delay: 5s; */
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}


.product8 a {
  position: absolute;
  bottom: 50px;
  right: 70px;
  width: 255px;
  /* height:40px; */
  border: 1px solid #dadd0a;
  color: #dadd0a;
  text-decoration: none;
  font-size: 28px;
  padding: 5px;
  animation-name: shine;
  /* animation-delay: 5s; */
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}


.product9 a {
  position: absolute;
  bottom: 50px;
  right: 70px;
  width: 255px;
  /* height:40px; */
  border: 1px solid #dadd0a;
  color: #dadd0a;
  text-decoration: none;
  font-size: 28px;
  padding: 5px;
  animation-name: shine;
  /* animation-delay: 5s; */
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  animation-iteration-count: infinite;
}

@keyframes shine {

  0% {
    background-color: #067269a9;
  }

  50% {
    background-color: #067269a9;
  }

}


.product1 img:hover,
.product2 img:hover,
.product3 img:hover,
.product4 img:hover,
.product5 img:hover,
.product6 img:hover,
.product7 img:hover,
.product8 img:hover {
  width: 350px;
  height: 270px;
}

.productcontent {
  /* border: 1px solid silver; */
  width: 800px;
  /* height: 550px; */
  margin-left:420px;
  margin-top:65px;
}


.productcontent p {
  color: #5a4022;
  font-size: 18px;
  text-align:justify;
  margin-top:10px;
  line-height:22px;
}

.productcontent .contenttitle {
  color: #23414b;
  font-size: 22px;
margin-top:20px;
}

.productcontent ul li {
  color: #643e13;
  font-size: 18px;
  line-height:26px;
list-style: disc;
margin-left:65px;

}

p.hintwords {
  color: #812b2b;
}

p.memowords {
  width: 720px;
  margin: 0 auto;
  margin-top: 10px;
  color: #055a2b;
  font-style: italic;
  font-size: 16px;
}

.product5 .productcontent {
  margin-top:0px;
}

.product8 p.hintwords,
.product9 p.hintwords {
  margin-top: 40px;
}




/* Products mobile 375-575 setting start */

@media screen and (max-width:575px) {


  .wrap {
      position: relative;
  }

  .header,
  .menuitems,
  .itemcontent {
      float: none;
  }

  .header {
      max-width: 375px;
      height: 105px;
      border-bottom: 1px solid #7e5f5f;
  }

  .pagecontent {
      width: 0;
      height: 0;
  }


  .menuitems {
      width: 375px;
      height: 69px;
      border-bottom: 1px solid #7e5f5f;
  }

  .nowitem {
      width: 0;
      height: 0;
      visibility: hidden;
  }

  .nowitem p {
      width: 0;
      height: 0;
      padding: 0;
  }


  .itemcontent {
      max-width: 375px;
      position: absolute;
      margin: 0;
      padding: 0;
      top: 180px;
      left: 0;
  }

  .footer {
      position: fixed;
      height: 65px;
      bottom: 0px;
      /* visibility: hidden; */
  }


  /* 功能選單區設定 */
  .menuitems ul {
      position: absolute;
      max-width: 120px;
      padding: 0;
      margin: 0;
  }


  .menuitems ul a {
      margin: 0;
      padding: 0;
      height: 0;
      width: 0;
  }

  .menuitems ul li {
      max-width: 120px;
      height: 30px;
  }

  .menuitems ul a li label {
      max-width: 120px;
      height: 30px;
      font-size: 18px;
      /* line-height:16px; */
      padding: 0;
      margin: 0;
  }

  .menuitems ul .branditem li label {
      padding: 0;
  }

  a.newsitem {
      position: absolute;
      top: -4px;
      left: 0;
  }

  a.newsitem li label {
      position: absolute;
      top: -20px;
      left: 27px;
  }


  a.aboutitem {
      position: absolute;
      top: -4px;
      left: 125px;
  }

  a.aboutitem li label {
      position: absolute;
      top: -20px;
      left: 27px;
  }

  a.branditem {
      position: absolute;
      top: -4px;
      left: 250px;
  }

  a.branditem li label {
      position: absolute;
      top: -20px;
      left: 12px;
  }

  a.productsitem {
      position: absolute;
      top: 31px;
      left: 0px;
  }

  a.productsitem li label {
      position: absolute;
      top: -20px;
      left: 27px;
  }

  a.recipeitem {
      position: absolute;
      top: 31px;
      left: 125px;
  }

  a.recipeitem li label {
      position: absolute;
      top: -20px;
      left: 27px;
  }

  a.channelsitem {
      position: absolute;
      top: 31px;
      left: 250px;
  }

  a.channelsitem li label {
      position: absolute;
      top: -20px;
      left: 27px;
  }

  /* 功能選單設定 END */


  /* 產品內容區塊設定 START */

  .brandlist li {
      position: absolute;
  }

  .brandlist li label {
      padding: 0;
      /* border:1px solid silver; */
  }

  .b1 {
      top: 20px;
      left: 10px;
  }

  .b2 {
      top: 250px;
      left: 10px;
  }

  .b3 {
      top: 350px;
      left: 10px;
  }



  .brandlist li label {
      font-size: 18px;
  }


  .productlist {
      height: 430px;
  }

  .productlist div {
      position: absolute;
      /* border:1px solid silver; */
      margin: 0;
      padding: 0;
      width: 300px;
      margin-left: 30px;
  }

  .productlist div ul li {
      height: 0;
      padding: 0;
  }

  .list1 {
      top: 0;
      left: 0;
  }

  .list2 {
      top: 250px;
      left: 0;
  }

  .list3 {
      top: 350px;
      left: 0;
  }


  .divider1 {
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      visibility: hidden;
  }

  .emptyspace {
      width: 0;
      height: 0;
  }

  .divider2 {
      width: 0;
      height: 0;
      margin: 0;
      padding: 0;
      visibility: hidden;
  }

  .productlist div li {

      height: 0;
      width: 30;
  }

  .list1 ul {
      margin-top: 50px;
  }

  .list1 li a {
      display: block;
      font-size: 14px;
      margin-top: 24px;
      text-decoration: underline;
  }

  .list2 li a {
      font-size: 14px;
      display: block;
      font-size: 14px;
      margin-top: 32px;
      text-decoration: underline;
  }

  .list3 li a {
      font-size: 14px;
      display: block;
      font-size: 14px;
      margin-top: 32px;
      text-decoration: underline;
  }

  .list1 a:hover, .list2 a:hover, .list3 a:hover {
      font-size:14px;
  }


  .product1,
  .product2,
  .product3,
  .product4,
  .product5,
  .product6,
  .product7,
  .product8,
  .product9 {
      height: 590px;

  }

  .product1 a,
  .product2 a,
  .product3 a,
  .product4 a,
  .product5 a,
  .product6 a,
  .product7 a,
  .product8 a,
  .product9 a {
      font-size: 18px;
      width: 165px;
      bottom: 20px;
      right: 20px;
  }

  .product5 a {
      bottom:400px;
  }

  .product1 label,
  .product2 label,
  .product3 label,
  .product4 label,
  .product5 label,
  .product6 label,
  .product7 label,
  .product8 label,
  .product9 label {
      font-size: 16px;
  }

  .product1 img,
  .product2 img,
  .product3 img,
  .product4 img,
  .product5 img,
  .product6 img,
  .product7 img,
  .product8 img,
  .product9 img {
      width: 120px;
      height: 120px;
      top: 70px;
  }

  .product1 img:hover,
  .product2 img:hover,
  .product3 img:hover,
  .product4 img:hover,
  .product5 img:hover,
  .product6 img:hover,
  .product7 img:hover,
  .product8 img:hover,
  .product9 img:hover {
      width: 120px;
      height: 120px;
  }

.productcontent {
  position:absolute;
  top:210px;
  width:375px;
  margin:0;
  padding-left:5px;
  padding-right:5px;
}

.productcontent p {
  width:350px;
  font-size:12px;
  line-height: normal;
  margin:0;
  text-align: justify;
  margin-left:10px;
}

.productcontent ul li {
  width:350px;
  font-size:12px;
  line-height: normal;
  padding:0;
}

.product1 .productcontent .contenttitle {
  /* position:absolute; */
  width:350px;
  top:180px;
  left:20px;
  font-size:16px;
  margin:0;
}


.product2 .productcontent .contenttitle {
  /* position:absolute; */
  width:350px;
  top:180px;
  left:20px;
  font-size:16px;
  margin:0;
}

.product3 .productcontent .contenttitle {
  /* position:absolute; */
  width:350px;
  top:180px;
  left:20px;
  font-size:16px;
  margin:0;
}

.product4 .productcontent .contenttitle {
  /* position:absolute; */
  width:350px;
  top:180px;
  left:20px;
  font-size:16px;
  margin:0;
}

.product5 .productcontent .contenttitle {
  /* position:absolute; */
  width:350px;
  top:180px;
  left:20px;
  font-size:16px;
  margin:0;
}

.product6 .productcontent .contenttitle {
  /* position:absolute; */
  width:350px;
  top:180px;
  left:20px;
  font-size:16px;
  margin:0;
}

.product7 .productcontent .contenttitle {
  /* position:absolute; */
  width:350px;
  top:180px;
  left:20px;
  font-size:16px;
  margin:0;
}


.product8 .productcontent .contenttitle {
  /* position:absolute; */
  width:350px;
  top:180px;
  left:20px;
  font-size:16px;
  margin:0;
}

.product9 .productcontent .contenttitle {
  /* position:absolute; */
  width:350px;
  top:180px;
  left:20px;
  font-size:16px;
  margin:0;
}


p.memowords {
  margin-top:5px;
  margin-bottom:5px;
}

.GoFunction {
  visibility: visible;
  bottom:0;
  left:20px;
}

.product1 a.GoFunction,
.product2 a.GoFunction,
.product3 a.GoFunction,
.product4 a.GoFunction,
.product5 a.GoFunction,
.product6 a.GoFunction,
.product7 a.GoFunction,
.product8 a.GoFunction,
.product9 a.GoFunction
 {
  font-size:14px;
  width:100px;
}

.product1 a.Gotop,
.product2 a.Gotop,
.product3 a.Gotop,
.product4 a.Gotop,
.product5 a.Gotop,
.product6 a.Gotop,
.product7 a.Gotop,
.product8 a.Gotop,
.product9 a.Gotop
 {
  font-size:14px;
  width:130px;
}


  /* 產品內容區塊設定 END */










}



/* Products mobile 375-575 setting end */