@media screen and (max-width: 575px) {



    body {
        background-image: none;
        background-color: #463333;
    }

    .wrap {
        width: 375px;
        padding:0;
    }

    .header p,
    .header ul {
        float: none;
    }

    .header h1 {
        margin:10px;
        padding:0;
    }

.leftshow {
    width:375px;
}

.rightshow {
    visibility: hidden;
}


.content ul {
    float:none;
    width:375px;
}


.company {
    float:none;
    width:375px;
    padding:0;
}

.companyinfo {
    float:none;
    width:375px;
}


}